h1, h2, h3{
    color: rgb(255, 0, 0);
    text-align: center;
}

body {
  background-image: url("https://woc.aises.org/sites/default/files/styles/image730x495/public/Nov2018-Professional-Illo-Photo-BLOGPOST-FNL.jpg?itok=MnHq3bfQ");

  filter: blur(8px);
  -webkit-filter: blur(8px);

  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
